.container {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    height: 700px;
    justify-content: center;
    align-items: center;
}

img {
    margin: 10px;
    padding: 30px;
    height: 80%;
    width: 60%;
    border-radius: 15%;
}

body {
    background-color:black}

.button {
    height: 1px;
}